{% extends "basic_app/base.html" %}
{% load static %}

{% block body_block%}

<div class="container">
<div class="jumbotron">
  {% if registered %}
     <h1>Thankyou for Registering!!!</h1>
  {% else %}
    <h1>REGISTER HERE</h1>
    <h2>Fill the form:</h2>

    <form enctype="multipart/form-data" method="POST">
         {% csrf_token %}
         {{ user_form.as_p }}
         {{ profile_form.as_p }}
         <input type="Submit" name="" value="Register">
    </form>
    {% endif %}
</div>
</div>

{% endblock %}
