<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>BASE</title>
  </head>
  <body>
    <nav class='navbar navbar-expand-lg navbar-light bg-light'>
        <ul class="navbar navbar-nav">
          <li> <a class="navbar navbar-brand" href="{% url 'basic_app:list' %}">SCHOOL</a></li>
          <li> <a class="navbar navbar-brand" href="{% url 'admin:index' %}">ADMIN</a></li>
          <li> <a href="#"></a> </li>
        </ul>
    </nav>
    <div class="container">

        {% block body_block %}
        {% endblock %}

    </div>
  </body>
</html>
